.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-size: 11px;
  color: rgb(135, 135, 135);
}

.App footer a {
  text-decoration: none;
  color: rgb(33 33 33);
}
.App footer a:hover {
  text-decoration: underline;
}
